Repository DennisLent/RustyRunways: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, frontend

fixed issues with linting and formatting
  apps/tauri/ui/src/lib/tauri.test.ts
  apps/tauri/ui/src/lib/utils.test.ts
  crates/py/tests/test_gym_env_obs.py
Due: rust, python, frontend

doc build and pypi issues
  .github/workflows/docs.yml
  .github/workflows/pypi-publish.yml
Due: none

bumped version to 2.0.2
  Cargo.lock
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

bumped version to 2.0.3. Updated release pipelines to enable bundling
  .github/workflows/tauri-release.yml
  Cargo.lock
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  apps/tauri/ui/src/api/game.ts
  apps/tauri/ui/vite.config.ts
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/README.md
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

lint & test fix
  crates/py/pyproject.toml
Due: rust, python

icon fixes for PR Build
  .github/workflows/tauri-release.yml
  apps/tauri/src-tauri/tauri.conf.json
  scripts/check.sh
Due: rust

patch: fixed overriding issue due to file names
  .github/workflows/tauri-release.yml
  Cargo.lock
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

expanded yaml configuration for base game
  crates/core/save_games/cov_test_save.json
  crates/core/src/config.rs
  crates/core/src/game.rs
  crates/core/src/utils/airport.rs
  crates/core/src/utils/map.rs
  crates/core/src/utils/orders/order.rs
  crates/core/tests/airport_tests.rs
  crates/core/tests/config_tests.rs
  crates/core/tests/orders_tests.rs
  docs/core/custom_worlds.md
Due: rust

new order specifications and world generation updates
  crates/core/save_games/cov_test_save.json
  crates/core/src/config.rs
  crates/core/src/game.rs
  crates/core/src/utils/map.rs
  crates/core/tests/config_tests.rs
  crates/gui/src/gui.rs
  docs/core/custom_worlds.md
  examples/sample_world.yaml
  examples/sample_world_manual_orders.yaml
  examples/sample_world_no_orders.yaml
Due: rust

version bump. Ci update for mkdocs to try and fix web demo
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
  mkdocs.yml
  scripts/build_web_demo.sh
Due: rust, python, frontend

clustered airport generation for better connections with smaller airplanes
  Cargo.lock
  crates/core/save_games/cov_test_save.json
  crates/core/src/config.rs
  crates/core/src/game.rs
  crates/core/src/utils/map.rs
  crates/core/tests/config_tests.rs
  crates/core/tests/map_tests.rs
  crates/gui/src/gui.rs
  crates/py/tests/test_gym_more.py
  docs/core/custom_worlds.md
  examples/sample_world_generated.yaml
Due: rust, python

beginning of python agents to test gameplay. Readme update
  .gitignore
  benchmarks/run_benchmarks.py
  benchmarks/setup.sh
  crates/py/python/rusty_runways/gym_env.py
  docs/python/index.md
Due: rust, python

heuristic agent for sweeping through values
  benchmarks/README.md
  benchmarks/run_benchmarks.py
  benchmarks/scenarios.example.yaml
  benchmarks/setup.sh
  docs/python/index.md
Due: none

updating balancing agent and found a bug in the fuel piricing code (now fixed)
  benchmarks/run_benchmarks.py
  benchmarks/scenarios.example.yaml
  crates/core/src/utils/airport.rs
Due: rust

fuel elasticity and yaml changes
  apps/tauri/src-tauri/src/main.rs
  apps/tauri/ui/src/api/game.ts
  apps/tauri/ui/src/components/AirplaneDetailScreen.tsx
  apps/tauri/ui/src/components/GameScreen.tsx
  benchmarks/run_benchmarks.py
  benchmarks/scenarios.example.yaml
  crates/cli/src/main.rs
  crates/cli/src/read.rs
  crates/cli/tests/command_tests.rs
  crates/commands/src/lib.rs
  crates/core/save_games/cov_test_save.json
  crates/core/src/config.rs
  crates/core/src/game.rs
  crates/core/src/player.rs
  crates/core/src/utils/airport.rs
  crates/core/src/utils/map.rs
  crates/core/tests/airport_tests.rs
  crates/core/tests/config_tests.rs
  crates/core/tests/game_tests.rs
  crates/core/tests/player_tests.rs
  crates/core/tests/smoke.rs
  crates/gui/src/gui.rs
  crates/py/src/lib.rs
  crates/wasm/src/lib.rs
  docs/cli/index.md
  docs/core/custom_worlds.md
  docs/core/events.md
  docs/core/index.md
  docs/gui/index.md
  docs/python/index.md
  examples/sample_world.yaml
  examples/sample_world_no_orders.yaml
Due: rust, python, frontend

further benchmarking & scnearios
  benchmarks/run_benchmarks.py
  benchmarks/scenarios.example.yaml
Due: none

balancing and sanity checks for variables. Variables set as defaults across all configs
  apps/tauri/src-tauri/src/main.rs
  apps/tauri/ui/src/components/MainMenu.tsx
  benchmarks/README.md
  benchmarks/run_benchmarks.py
  benchmarks/sanity.yaml
  benchmarks/sanity_report.py
  benchmarks/scenarios.example.yaml
  crates/cli/src/cli.rs
  crates/cli/tests/cli_tests.rs
  crates/core/save_games/cov_test_save.json
  crates/core/src/config.rs
  crates/core/src/utils/map.rs
  crates/core/src/utils/orders/order.rs
  crates/core/tests/config_tests.rs
  crates/core/tests/coverage_extra.rs
  crates/core/tests/game_lists_and_cli.rs
  crates/core/tests/game_more_errors.rs
  crates/core/tests/game_persistence_and_errors.rs
  crates/core/tests/game_tests.rs
  crates/core/tests/player_tests.rs
  crates/core/tests/smoke.rs
  crates/gui/src/gui.rs
  crates/py/examples/random_agent.py
  crates/py/src/lib.rs
  docs/cli/index.md
  docs/core/custom_worlds.md
  docs/index.md
  docs/python/index.md
  examples/sample_world.yaml
  examples/sample_world_no_orders.yaml
Due: rust, python, frontend

version updates for acompanying changes
  Cargo.lock
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

docs update
  docs/core/custom_worlds.md
  docs/index.md
  docs/python/index.md
Due: none

in the processof updating airplane logic for varied cargo
  apps/tauri/src-tauri/src/main.rs
  apps/tauri/ui/src/api/game.ts
  apps/tauri/ui/src/components/AirplaneDetailScreen.tsx
  apps/tauri/ui/src/components/AirplanePurchaseScreen.tsx
  apps/tauri/ui/src/components/AirportDetailScreen.tsx
  benchmarks/scenarios.example.yaml
  crates/core/save_games/cov_test_save.json
  crates/core/src/config.rs
  crates/core/src/game.rs
  crates/core/src/utils/airplanes/airplane.rs
  crates/core/src/utils/airplanes/models.rs
  crates/core/src/utils/airport.rs
  crates/core/src/utils/errors.rs
  crates/core/src/utils/map.rs
  crates/core/src/utils/orders/mod.rs
  crates/core/src/utils/orders/order.rs
  crates/core/tests/airplane_tests.rs
  crates/core/tests/airport_tests.rs
  crates/core/tests/config_tests.rs
  crates/core/tests/display_tests.rs
  crates/core/tests/game_delivery_and_events.rs
  crates/core/tests/game_tests.rs
  crates/core/tests/orders_tests.rs
  crates/core/tests/smoke.rs
  crates/gui/src/gui.rs
  crates/wasm/src/lib.rs
  docs/core/custom_worlds.md
  docs/core/index.md
  docs/index.md
  examples/sample_world_manual_orders.yaml
Due: rust, frontend

airplane logic update and testing push
  .github/workflows/coverage.yml
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/game.rs
  crates/core/tests/display_tests.rs
  crates/core/tests/game_lists_and_cli.rs
  crates/core/tests/game_passenger_tests.rs
  crates/core/tests/game_persistence_and_errors.rs
  crates/core/tests/gameplay_validation_tests.rs
  docs/core/airplanes.md
  scripts/coverage.sh
Due: rust

tauri app fixes and updates
  .github/workflows/tauri-release.yml
  apps/tauri/src-tauri/src/main.rs
  apps/tauri/ui/src/api/game.ts
  apps/tauri/ui/src/components/AirplaneDetailScreen.tsx
  apps/tauri/ui/src/components/AirplanePurchaseScreen.tsx
  apps/tauri/ui/src/components/GameScreen.tsx
  crates/core/src/game.rs
  crates/wasm/src/lib.rs
Due: rust, frontend

tauri gui updates
  apps/tauri/src-tauri/src/main.rs
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/src/api/game.ts
  apps/tauri/ui/src/components/AirplaneDetailScreen.tsx
  apps/tauri/ui/src/components/AirportDetailScreen.tsx
  apps/tauri/ui/src/components/GameScreen.tsx
  apps/tauri/ui/src/components/WorldMap.tsx
  crates/wasm/src/lib.rs
Due: rust, frontend

lint and format
  apps/tauri/src-tauri/src/main.rs
  crates/core/src/game.rs
  crates/core/tests/display_tests.rs
  crates/core/tests/game_persistence_and_errors.rs
  crates/core/tests/gameplay_validation_tests.rs
  scripts/check.sh
Due: rust

version bump to 3.0.0
  Cargo.lock
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

documentation and coverage
  apps/tauri/src-tauri/src/main.rs
  apps/tauri/ui/src/api/game.ts
  apps/tauri/ui/src/components/GameScreen.tsx
  crates/core/src/game.rs
  crates/core/src/player.rs
  crates/core/src/utils/airplanes/airplane.rs
  crates/core/src/utils/airplanes/models.rs
  crates/core/src/utils/airport.rs
  crates/core/src/utils/coordinate.rs
  crates/core/src/utils/errors.rs
  crates/core/src/utils/map.rs
  crates/core/src/utils/orders/order.rs
  crates/core/tests/airport_ensure_base.rs
  crates/core/tests/coordinate_tests.rs
  crates/core/tests/game_buy_plane_expense.rs
  crates/core/tests/stats_updates.rs
  crates/core/tests/unload_orders_vec.rs
  crates/wasm/src/lib.rs
Due: rust, frontend

customizable airplanes via yaml file
  apps/tauri/src-tauri/src/main.rs
  benchmarks/scenarios.example.yaml
  crates/cli/src/main.rs
  crates/core/save_games/cov_test_save.json
  crates/core/src/config.rs
  crates/core/src/game.rs
  crates/core/src/player.rs
  crates/core/tests/airplanes_config_tests.rs
  crates/core/tests/config_tests.rs
  crates/core/tests/game_passenger_tests.rs
  crates/core/tests/gameplay_validation_tests.rs
  crates/py/README.md
  crates/py/src/lib.rs
  docs/core/index.md
  docs/python/index.md
  examples/sample_world.yaml
Due: rust, python

doc changes
  crates/core/save_games/cov_test_save.json
Due: rust

tauri build issue patch
  .github/workflows/tauri-release.yml
  apps/tauri/src-tauri/tauri.conf.json
  crates/core/save_games/cov_test_save.json
  scripts/dev_tauri.sh
Due: rust

version bump to 3.0.1
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

quick fix
  Cargo.lock
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

readme update for badge
  README.md
Due: none

minimal update
  Cargo.lock
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/ui/package.json
  crates/cli/Cargo.toml
  crates/commands/Cargo.toml
  crates/core/Cargo.toml
  crates/gui/Cargo.toml
  crates/py/Cargo.toml
  crates/py/pyproject.toml
  crates/wasm/Cargo.toml
Due: rust, python, frontend

Add PyPI downloads badge
  README.md
Due: none

Add PyPI downloads badge (#61)
  README.md
Due: none

Path conditions:
  rust: any of: crates/, apps/tauri/src-tauri/
  python: any of: crates/py/
  frontend: any of: apps/tauri/ui/
